body{
    background-image: url("../img/waves.jpg");
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: blueviolet;
    text-align: center;
}

a:link {
    color: goldenrod;
    font-size: 150%;
    display: block;
    position: absolute;
    left: 37%;
}

img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

img.round {
    border-radius: 50%;
}